html {
  background-image: url("../casino.jpg")
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

#table {
  padding: 80px 50px;
  border: 1px solid #000000;
  border-radius: 60px;
  background: linear-gradient(#882323 0%, #580808 40%, #410101 100%) no-repeat no-repeat;
  margin-top: 12%;
}

.hand {
  padding: 14px;
  border-radius: 20px;
  height: 110px;
  background: ghostwhite;
  margin-bottom: 10px;
}

.hand label {
  float: left;
  margin: 0 5px;
}

.hand img {
  width: 57px;
  display: block;
  float: left;
  margin-left: 5px;
}

#messages {
  font-size: 2.2em;
  text-align: center;
  height: 2em;
  color: ghostwhite;
  font-weight: 900;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

.buttons button {
  border: 1px solid black;
  border-radius: 10px;
  background: ghostwhite;
  font-size: 1.5em;
  padding: 5px 10px;
  margin-right: 35px;
}

.buttons button:hover {
  box-shadow: 0px 1px 1px black;
}

.buttons button:focus {
  outline: none;
}

.buttons button:active {
  color: white;
  background: linear-gradient(#666, #222);
  border: 1px solid black;
}

.card {
  height: 100%;
}

label {
    color: ghostwhite;
    font-size: 2em;
    font-weight: 500;
}
